.home-page-container{
     display: flex;
     flex-direction: column;
     /* margin-left: 30px; */
     position: relative;
     width: 100%;
     height: 100vh;
     /* background-image: url('/public/homepage.jpg'); */
     background-size: cover;
     background-position: center;
     overflow: hidden;
}
.overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
     /* background-color: rgba(0, 0, 0, 0.8); 可选: 提高文字可读性 */
 }

.home-page-text-title {
     background-color: rgba(0, 0, 0, 0.0);
     position: absolute;
     top: 20px;
     left: 50px;
     font-size: 90px;
     flex-wrap: wrap;
     width: 94%;
     /* z-index: -1; */
}


/* .homepage-image{
     width: 100%;
     height: 300px;
     z-index: -10;
     position: sticky;
     top: 0px;
     right: 100px;

} */

.text-links{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-content: center;
}


.home-page-text {
     font-size: 20px;
     margin-left: 20px;
     /* height: 413px; */
}

.home-page-text h1{
     color: #ffffff;
     z-index: 20;
     background: linear-gradient(to right, #ff6a00 40%, rgba(0, 0, 0, 0) 100%);
     width: 600px;
     height: 50px;
     padding: 5px 20px;
     border-radius: 20px;
}


.socialmedialinks{
     display: flex;
     flex-direction: row;
     gap: 20px;
     margin-left: 20px;

}

.socialmedialinks{

     display: flex;
     flex-direction: column;
}

.socialmedialinks img {
     display: block;
     opacity: 0.5;
}

.xiaohongshu-logo{
     width: 30px;
     height: 30px;
     transition: transform 0.3s ease;
}
.xiaohongshu-logo:hover{
     transform: scale(1.5);
}

.instagram-logo{
     width: 30px;
     height: 30px;
     transition: transform 0.3s ease;
}
.instagram-logo:hover{
     transform: scale(1.5);
}

.wechat-logo{
     width: 30px;
     height: 30px;
     transition: transform 0.3s ease;
}
.wechat-logo:hover{
     transform: scale(1.5);
}
