.reservation-form {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 2rem;
     /* margin-top: 1rem; */
     position: relative;
     bottom: 1rem;
}

.form-group {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;
}

.reserve-form-group {
     display: flex;
     flex-direction: column;
     gap: 1rem;
}

.form-label {
     color: #e80000;
     font-size: 1rem;
     font-weight: 300;
     margin-bottom: -5px;
}


.form-input {
     width: 350px;
     height: 40px;
     border-radius: 5px;
     color: rgb(119, 119, 119);
     border: 1px solid #e80000;
     padding: 0 10px;
     margin-bottom: 1rem;
     font-size: .9rem;
}

.form-select {
     width: 350px;
     height: 42px;
     border-radius: 5px;
     border: 1px solid #e80000;
     color: rgb(119, 119, 119);
     padding: 0 8px;
     font-size: .9rem;
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ff6a00'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
     background-repeat: no-repeat;
     background-position: right 10px center;
     background-size: 16px;
}

.form-textarea {
     width: 46rem;
     height: 100px;
     border-radius: 5px;
     color: rgb(119, 119, 119);
     border: 1px solid #e80000;
     padding: 10px;
     font-size: 1rem;
}

.full-width {
     grid-column: span 2;
}

input:focus,
select:focus,
textarea:focus {
     outline: none;
     /* 去除默认的外边框 */
     border-color: greenyellow;
     box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
     /* 可选：添加淡红色外发光效果 */
}

input.input-error,
textarea.input-error,
select.input-error {
     border-color: red !important;
}

.form-select.input-error {
     border: 1px solid red !important;
}

.form-error {
     color: red;
     margin-top: -20px;
     margin-bottom: 15px;
}

.time-error{
     margin-top: 0px;
}

.form-submit-button {
     margin: 50px 420px 50px 420px;
     color: #e80000;
     border-width: 1px;
     border-color: #e80000;
     border-radius: 10px;
     padding: 10px 50px;
     cursor: pointer;
     background-color: transparent;
     border-style: solid;
     letter-spacing: 1px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.form-submit-button:hover {
     background-color: #e80000;
     color: #c0dfff;
     font-weight: 600;
     transform: scale(1);
}
