.contact-us-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 150px;
     /* background-image: url('/public/sunnyvale-map.jpg');
     background-position: center;
     background-repeat: no-repeat; */
}

.contact-us-containter::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: url('/public/sunnyvale-map.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     opacity: 0.1;
     /* z-index: -1; */
     /* background-color: rgba(0, 0, 0, 0.5); */
     /* z-index: 1; */
}

.contact-us-container-left{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.contact-us-container form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
}

.contact-us-form h4{
     margin: 0;
     padding: 0;
     margin-bottom: 10px;
}

.contact-us-container-right {
     display: flex;
     flex-direction: column;
     justify-content: center;
     /* align-items: center; */
}


/* .background-image{
     width: 100%;
     height: 100%;
     opacity: 0.1;
     z-index: 0;
     position: sticky;
;    right: 100px;
} */
