.signup-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 120px 220px;
}

.signup-container form{
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
     gap: 30px;
}


.signup-container form label{
     display: flex;
     flex-direction: column;
     gap: 10px;
}


.signup-container button{
     color: #ff6a00;
     font-weight: bold;
     border-color: #ff6a00;
     cursor: pointer;
     padding: 5px 10px;
     margin-top: 40px;
     border-radius: 10px;
     width: 100%;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.signup-container button:hover{
     transform: scale(1.05);
     transition: transform 0.3s ease-in-out;
   }
