/* .reservation-page-container{
     margin: -8px;
     padding: 20px;
     border-left: 3px solid #ff6a00;
     border-right: 3px solid #ff6a00;
     border-bottom: 3px solid #ff6a00;
} */

.reservation-title-h1{
     margin: 55px 465px 20px 420px;
     font-weight: bold;
     background-color: #ffffff00;
     color: #e80000;
     width: fit-content;
     margin-bottom: -45px;
}
