/* TODO: Add sitewide styles */
/* *{
     background-color: aquamarine;
     z-index: -1000;
} */
*{
     font-family: 'Montserrat', sans-serif;
     background-color: rgb(155, 155, 155);
}

/* Path: react-vite/src/components/Navigation/Navigation.css */
