/* TODO: Add sitewide styles */
/* *{
     background-color: aquamarine;
     z-index: -1000;
} */
*{
     font-family: 'Montserrat', sans-serif;
     /* background: linear-gradient(to right, rgba(255, 126, 95, 0.7), rgba(254, 180, 123, 0.7)); */
     background-color: #00374b;
}

/* Path: react-vite/src/components/Navigation/Navigation.css */
