/* TODO: Add sitewide styles */
/* *{
     background-color: aquamarine;
     z-index: -1000;
} */
* {
     font-family: 'Montserrat', sans-serif;
     background-color: #c0dfff;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* Path: react-vite/src/components/Navigation/Navigation.css */
