.login-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 120px 220px;
     z-index: 1000;
     /* border-radius: 30px; */
     border: 3px solid #e80000;
     /* background-color: #ffffff; */
}

.login-moddal-h1{
     font-size: 45px;
     color: #e80000;
     background-color: #c0dfff;
     padding: 20px 20px 20px 0;
     margin: 0px;
}

.login-container form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 30px;
     /* background-color: #ffffff; */
}

.login-label{
     display: flex;
     flex-direction: column;
     gap: 10px;
     /* background-color: #ffffff; */
}

.login-label span{
     font-size: 15px;
     color: #e80000;
     margin-top: 40px;
}

.login-input{
     width: 360px;
     height: 41px;
     background-color: #c0dfff;
     font-weight: 500;
     color: #333333;
     border: 1px solid #e80000;
     border-radius: 5px;
     padding: 5px 10px;
}

.login-input-password{
     width: 100%;
     height: 41px;
     font-weight: 550;
     background-color: #c0dfff;
     font-weight: 500;
     color: white;
     border: 1px solid #e80000;
     border-radius: 5px;
     padding: 5px 50px 5px 10px;
     box-sizing: border-box;
}

.faeyeslash{
     position: absolute;
     right: 15px;
     top: 50%;
     transform: translateY(-50%);
     cursor: pointer;
     color: #e80000;
}

.faeye{
     position: absolute;
     right: 15px;
     top: 35%;
     transform: rotateY(-50%);
     cursor: pointer;
     color: #e80000;
}

.login-container button{
     color: #e80000;
     font-weight: bold;
     border-color: #e80000;
     cursor: pointer;
     padding: 5px 10px;
     margin-top: 40px;
     border-radius: 10px;
     width: 78%;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.login-container button:hover{
     transform: scale(1.05);
     transition: transform 0.3s ease-in-out;
}

.signup-redirect{
     /* margin-top: 20px;
     margin-left: 20px;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: .8rem;
     width: 300px;
}

.signup-redirect p {
     color: #e8000090;
     /* cursor: pointer; */
     margin-bottom: -20px;
     /* width: 150%; */
     font-size: 14px;
}
