.nav-bar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  /* padding: 10px 20px; */
  /* background-color: #e3e3e3; */

}

/* .active-link{
  color: #ff2f00;
} */

.profile-dropdown {
  position: absolute;
}

.nav-bar-left-logo{
  margin: 10px 20px;
  width: 40px;
  transition: transform 0.3s ease;
}

.nav-bar-left-logo:hover{
  transform: scale(1.2);
}


.nav-bar-right-loginButton{
  margin-right: 10px;
}

.nav-bar-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 100px;
  margin-left: 20px; */
}


.nav-bar-left-links{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 66%;
  gap: 40px;
  font-size: 18px;
  font-weight: 600;
}

.nav-bar-button{
  text-decoration: none;
  color: black;
}

.search-bar {
  margin: 10px 0; /* 调整上边距 */
  width: 50%; /* 充满父容器宽度 */
}

.login-signup-button{
  border-radius: 40px;
  padding: 5px 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  border-color: #ff2f00;
  color: #ff2f00;
  border-width: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.login-signup-button:hover{
  transform: scale(1.3);
}



.loginButton-list{
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.loginButton-list button{
  background-color: #ff2f00;
  color: white;
  padding: 5px;
  border-color: #ff2f00;
  border-radius: 5px;
  cursor: pointer;
}

.loginSignup-button{
  margin-left: -100px;
  display: flex;
  flex-direction: column;
}


.nav-bar-button{
  background-color: #ff00bb00;
  color: white;
  /* font-weight: 600; */
  /* padding: 15px; */
  border-radius: 20px;
  /* color: #ff2f00; */
  transition: transform 0.3s ease-in-out;
}
.nav-bar-button:hover{
  transform: scale(1.15);
  color: #ccff00;
  background-color: #00000000;
}
