.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -8px;
  padding: 20px;
  border-top: 3px solid #ff6a00;
  border-left: 3px solid #ff6a00;
  border-right: 3px solid #ff6a00;
  /* border-bottom: 9px solid #ff6a00; */
  /* background-color: hsl(196, 100%, 15%); */
  /* padding: 10px 20px; */
  /* background-color: #ff6a00; */
}

/* .active-link{
  color: #ff2f00;
} */

.profile-dropdown {
  position: absolute;
}


.nav-bar-left-logo {
  margin: 10px 20px;
  width: 40px;
  /* background-color: #ff6a00; */
  transition: transform 0.3s ease;
}

.nav-bar-left-logo:hover {
  transform: scale(1.2);
}


.nav-bar-right-loginButton {
  margin-right: 10px;
  color: #00202c;
}

.nav-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00202c;
  /* gap: 100px;
  margin-left: 20px; */
}


.nav-bar-left-links {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  background-color: #00202c;
  /* position: absolute;
  left: 66%; */
  gap: 40px;
  font-size: 18px;
  font-weight: 600;
}


.nav-bar-button {
  text-decoration: none;
  background-color: #00202c;
  font-weight: 300;
  color: black;
  cursor: pointer;
}

.search-bar {
  margin: 10px 0;
  /* 调整上边距 */
  width: 50%;
  /* 充满父容器宽度 */
}

.logout-button{
  color: black;
  background-color: #00202c;
  font-weight: bold;
  margin-top: 5px;
}

.login-signup-button {
  position: relative;
  z-index: 0;
  border-radius: 20px;
  width: 70px;
  padding: 2px 8px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #ff6a00;
  background-color: #00202c;
  color: #ff6a00;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: inset 0 0 8px 2px #ffffff70;
}


.login-signup-button:hover {
  border: 1.5px solid #ffffff;
  background-color: #ffffff;
  /* color: #ff6a00; */
  /* transform: scale(1.1); */
  box-shadow: inset 0 0 0px 0px #ffffff;
}

.fauser{
  color: #ff6a00;
  background-color: #00202c;
  margin-top: 4px;
}

.login-signup-button:hover .fauser{
  background-color: #ffffff;
}

.loginButton-list {
  margin-left: -140px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1px;
  margin-top: 30px;
  /* padding: 10px 0px 10px 10px; */
  /* background-color: #ffffff50; */
}

.loginButton-list button {
  background-color: #ff6a00;
  color: white;
  padding: 5px;
  border-color: #ff6a00;
  border-radius: 5px;
  cursor: pointer;
}

.loginButton-list button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.loginSignup-button {
  /* background-color: aliceblue; */
  margin-left: -100px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  /* border: 1px solid #ff6a00; */
}

.loginSignup-button span {
  background-color: #ffffff20;
  font-size: 18px;
  z-index: 10000;
  padding: 5px;
  border-radius: 20px;
}

.icons{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 0px; */
  margin-left: 20px;
}

.icons-login{
  letter-spacing: 1px;
}

.nav-bar-button {
  background-color: #ff00bb00;
  color: white;
  /* font-weight: 600; */
  /* padding: 15px; */
  border-radius: 20px;
  /* color: #ff2f00; */
  transition: transform 0.3s ease-in-out;
}

.nav-bar-button:hover {
  transform: scale(1.15);
  color: #ff6a00;
  background-color: #00000000;
}

.two-buttons {
  cursor: pointer;
  color: #ff6a00;
  border-color: #ff6a00;
  padding: 5px 10px;
  margin: 10px;
  font-weight: bold;
  border-radius: 8px;
  width: 80px;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.two-buttons:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
